header {
    text-align: center;
}
nav {
   
    color: white;
    padding: 10px 0 10px 0;
    margin-top: 0px;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.Education{
    padding: 30px;
    border-top: 3px solid black;
}


.Education{
    padding: 40px;
    border-bottom: 3px solid black;
}

    
    
.Education{
    background-color: white;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

}
.Education-container{
    display: flex;
    
}
.Education-element{
    padding: 25px;
    width: 50%;
    text-align: justify;
}
.borde{
    border-left: 3px solid black;
}    
    
.Experience{
    background-color: white;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

}
.Experience-container{
    display: flex;
    
}
.Experience-element{
    padding: 25px;
    width: 50%;
    text-align: justify;
}
.borde{
    border-left: 3px solid black;
}




.Otro{
    background-color: white;
    width: 100%;
    padding-right: 50px;
    padding-top: 50px;

}
.Otro-container{
    display: flex;
    
}
.Otro-element{
    padding: 25px;
    width: 50%;
    text-align: justify;
}
.borde{
    border-left: 3px solid black;
}




